.hero__subtitle img{
    width: 2.3rem;
    height: 2.2rem;
}
.hero__content h1{
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.hero__content h1 .highlight {
    color: var(--secondary-color);
}
.hero__content p{
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
    color:black;
}


.hero__content{
    padding: 3.5rem;
}
.hero__img-box{
    padding-top: 2rem;
}

.services__subtitle{
    font-size: 2.2rem;
    font-weight: 500;
    color: rgb(231, 122, 89);
    font-family: var(--subtitle-font-name);
}
.services__title{
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(96, 131, 183);
    font-family: 'Times New Roman', Times, serif;
}
.featured__tour-title{
    font-size: 2.8rem;
    font-weight: 500;
    color:rgb(96, 131, 183);
    font-family: 'Times New Roman', Times, serif;
}
.experience__title{
    color: rgb(96, 131, 183);
    font-family: 'Times New Roman', Times, serif;
}
.experience__content h2{
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;

}

.experience__content p{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter__wrapper{
    margin-top: 2.5rem;
}

.counter__box span{
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: #403d3d;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}
.counter__box h6{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}
.gallery__title{
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    color: rgb(96, 131, 183);
    font-family: 'Times New Roman', Times, serif;
    
}
.masonry__img{
   transition: .3s; 
}
.masonry__img:hover{
    transform: scale(1.1);
}
.testimonial__title{
    font-size: 2.3rem;
    margin-top: 1rem;
    color: rgb(96, 131, 183);
    font-family: 'Times New Roman', Times, serif;
}




 .hero__content {
    padding: 3.2rem;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn4eSa-FS9K3dwDn_NqUJZEfBE3sp9WNty4w&s'); /* Replace with your image path */
    background-size: 150% auto; /* This will cover the entire element */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-position: center; /*This centers the image */
}

.hero__content h1 {
    color: #e9ebe6; /* Replace with your desired color */
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
.first-img img {
    width: 140%; /* adjust as needed */
    height: auto; /* maintains aspect ratio */
}

.first-img1 img {
    width: 100%; /* adjust as needed */
    height: auto; /* maintains aspect ratio */
}
.compressed-img {
    width: 100%; /* Make the image responsive */
    max-width: 300px; /* Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover; /* Optional: cover the area without distortion */
}



